@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@300;600&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: #f6f6f6;
}
.principal{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin: 10dvh;
    padding: 10dvh;
    border: 10dvh;
    font-family: 'Krona One', sans-serif;        
}
.principal-conteudo{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 615px;
    height: 482px;
}
.principal-titulo{
    font-size: 36px;
}
.principal-texto{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif

}
.principal-butao{
    display: flex;
    justify-content: space-between;
}
.principal-butao-butao{
    background-color: #22d4fd;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color:black;
    font-family: 'Montserrat', sans-serif;
    
}
.destaque-titulo{
    color: #22d4fd;
}
.texto-portifolio{
    display: flex;
    flex-flow: column wrap;
    margin: 5dvh;
    padding: 5dvh;
    border: 5dvh;  
}
.fotografia-dev{
    border-style:groove;
}