@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@300;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
}
*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
.cabecalho{
    padding: 5% 0% 0% 18%;
}
.cabecalho-menu{
    display: flex;
    gap: 4rem;
}
.cabecalho-menu-link{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}
.principal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15%;
    font-family: 'Krona One', sans-serif;      
}
.principal-conteudo{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.principal-titulo{
    font-size: 2rem;
}
.principal-texto{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    padding: 0px 20px 20px 0px;
}
.principal-butao-subtitulo{
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}
.principal-butao{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.principal-butao-butao{
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 25rem;
    text-align: center;
    border-radius: 0.1rem;
    border: 2px solid var(--cor-terciaria);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: 'Montserrat', sans-serif;
    
}
.principal-butao-butao:hover{
    background-color: #272727;
}
.destaque-titulo{
    color: var(--cor-terciaria);
}

.fotografia-dev img{
    border-radius: 50px;
    gap: 2rem;
    box-shadow: 0px 10px 10px var(--cor-terciaria);
}
.rodape{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: var(--cor-terciaria);
    font-weight: 400;
    padding-bottom: 2rem;
}
@media (max-width: 700px){
    .cabecalho{
        padding: 10%;
    }
    .cabecalho-menu{
        justify-content: center;
    }
    .principal{
        flex-direction: column-reverse;
    }
    .fotografia-dev{
        display: flex;
        justify-content: center;
        
    }
    .principal-conteudo{
        width: auto;
    }
}